body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#site-wrapper {
  width: 100%;
}

#about-page {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: white;
  top: 695px;
}

#about-page .container .transparent-box h1 {
  color: rgba(196,92,9, 1);
}

#about-page .container .transparent-box p {
  color: rgba(80,80,80, 1);
}

#special-text {
  color: rgba(196,92,9, 0.85);
  font-style: italic;
}

#staff-showcase {
  padding-top: 40px;
  position: relative;
  top: 1380px;
  background-color: rgba(230, 230, 230, 1);
}

.showcase {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

button {
  height: 20px;
}


/*Iphone screen*/
@media only screen and (min-width : 320px) and (max-width: 575px) {


    #landing-page {
      height: 100vh;
      background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/910af87380017.560aa7db6b5fe.jpg");
    }

    #landing-page video {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }


      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: ;
        color: white;
        width: 100%;
        background: rgba(196,92,9, 0.75)
      }

      .header .logo-text {
        padding-top: 30px;
        align-self: center;

      }

      .header .logo-text svg {
        width: 350px !important;
      }

      .header .navbar {
        top: 0;
        width: 100%;
        margin-top: 20px;
        background-color: rgba(44, 44, 44, 0.85);
        padding: 20px 0 20px 0;
      }

      .header .navbar .link {
      }

      #first {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin: 0 0 0 12px;
      }

      #last {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0 12px 0 0;
      }

      .header .navbar .link a {
        align-content: space-between;
        color: white;
      }

      .header .navbar .link a:hover {
        text-decoration: none;
        color: lightgrey;

      }

      .landing-text-wrapper {
        color: white;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .landing-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 135px;
        border-radius: 10px;
      }

      .landing-text-container h1 {
        text-shadow: 3px 4px black;
        font-size: 1.8em;
      }

      .landing-button {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
      }

      .landing-button svg {
        width: 85px;
        height: auto;
        fill: rgba(196,92,9, 0.9);
        cursor: pointer;
      }


      /*-------ABOUT PAGE-------*/

      #about-page {

      }

      #about-page .container {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      #about-page .container .transparent-box {
        background-color: rgba(255,255,255,0.6);
        margin-bottom: -80px;
        padding: 0 15px 15px 15px;
        border-radius: 7px;
        z-index: 1;
      }

      #about-page .container .transparent-box h1 {

      }

      #about-page .container .transparent-box p {
        text-indent: 35px;
      }

      #about-page .container img {
        height: auto;
        width: 450px;
        align-self: center;
      }



}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) and (max-width: 767px) {

  #landing-page {
    height: 100vh;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/910af87380017.560aa7db6b5fe.jpg");
  }

  #landing-page video {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }


    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
    }

    .header .logo-text {
      padding-top: 50px;

    }

    .header .logo-text svg {
      width: 350px !important;
    }

    .header .navbar {
      margin-top: 50px;

    }

    .header .navbar .link {
    }

    #first {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    #last {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .header .navbar .link a {
      padding: 15px 32px 15px 32px;
      color: inherit;
      background-color: rgba(44, 44, 44, 0.85);
    }

    .header .navbar .link a:hover {
      text-decoration: none;
      background-color: rgba(196,92,9, 0.9);
    }

    .landing-text-wrapper {
      color: white;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .landing-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-top: 135px;
      border-radius: 10px;
    }

    .landing-text-container h1 {
      text-shadow: 3px 4px black;
    }

    .landing-button {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }

    .landing-button svg {
      width: 85px;
      height: auto;
      fill: rgba(196,92,9, 0.9);
      cursor: pointer;
    }

    /*-------ABOUT PAGE-------*/

    #about-page {

    }

    #about-page .container {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
    }

    #about-page .container .transparent-box {

    }

    #about-page .container .transparent-box h1 {

    }

    #about-page .container .transparent-box p {
      text-indent: 35px;
    }

    #about-page .container img {
      height: auto;
      width: 600px;
      align-self: center;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {


    #landing-page video {
      position: absolute;
      width: 100%;
    }

    .header {
      display: flex;
      position: static;
      color: white;
      align-items: center;
      justify-content: center;
    }

    .header .logo-text {
      display: flex;
      align-self: center;
      margin-right: 40px;
    }

    .header .logo-text svg {
      width: 250px !important;
    }

    .header .navbar {
    }

    .header .navbar .link {
      display: inline;
    }

    .header .navbar .link a {
    background-color: rgba(44, 44, 44, 0.85);
      padding: 20px 17px 19px 17px;
      color: inherit;
    }

    #first {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    #last {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .header .navbar .link a:hover {
      background-color: rgba(196,92,9, 0.9);
      text-decoration: none;
    }

    .landing-text-wrapper {
      color: white;
      width: 100%;
      height: 300px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .landing-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .landing-text-container h1 {
      text-shadow: 3px 4px black;
    }

    .landing-button {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }

    .landing-button svg {
      width: 85px;
      height: auto;
      fill: rgba(196,92,9, 0.9);
      cursor: pointer;
    }

    /*-------ABOUT PAGE-------*/

    #about-page {

    }

    #about-page .container {
      display: flex;
      flex-direction: column;
    }

    #about-page .container .transparent-box {

    }

    #about-page .container .transparent-box h1 {

    }

    #about-page .container .transparent-box p {
      text-indent: 35px;
    }

    #about-page .container img {
      height: auto;
      width: 750px;
      align-self: center;
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {

  /*-------LANDING PAGE---------*/

  #landing-page video {
    position: absolute;
    width: 100%;
  }

  .header {
    display: block;
    position: static;
    color: white;
  }

  .header .logo-text {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    top: 50px;
    left: 70px;
  }

  .header .logo-text svg {
    width: 350px !important;
  }

  .header .navbar {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 220px;
    right: 50px;
    z-index: 1;
  }

  .header .navbar .link {
    display: inline;
  }

  .header .navbar .link a {
    color: inherit;
    text-decoration: none;
    background-color: rgba(44, 44, 44, 0.85);
    padding: 25px 22px 24px 22px;
  }

  #first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header .navbar .link a:hover {
    background-color: rgba(196,92,9, 0.9);
  }

  .landing-text-wrapper {
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 135px;
    border-radius: 10px;
  }

  .landing-text-container h1 {
    text-shadow: 3px 4px black;
  }

  .landing-button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 580px;
  }

  .landing-button svg {
    width: 85px;
    height: auto;
    fill: rgba(196,92,9, 0.9);
    cursor: pointer;
  }

  /*--------ABOUT PAGE---------*/

  #about-page .container {
    width: 80% !important;
  }

  #about-page img {
    height: 400px;
    width: auto;
    position: relative;
    margin-top: 120px;
    float: right;
  }

  #about-page .container .transparent-box {
    position: absolute;
    display: inline-block;
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    margin-top: 120px;
    z-index: 1;
  }

  #about-page .container .transparent-box h1 {
  }

  #about-page .container .transparent-box p {
    margin-left: 50px;
    padding-right: 50px;
    text-indent: 35px;
    font-size: 1.2em;
  }

  #special-text {
    font-size: 1.2em;
  }



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  /*-----------LANDING PAGE-------------*/

  #landing-page video {
    position: absolute;
    width: 100%;
  }


  .header {
    display: block;
    position: static;
    color: white;
  }

  .header .logo-text {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    top: 50px;
    left: 70px;
  }

  .header .logo-text svg {
    width: 350px !important;
  }

  .header .navbar {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 220px;
    right: 50px;
    z-index: 1;
  }

  .header .navbar .link {
    display: inline;
  }

  .header .navbar .link a {
    color: inherit;
    text-decoration: none;
    background-color: rgba(44, 44, 44, 0.85);
    padding: 25px 22px 24px 22px;
  }

  #first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header .navbar .link a:hover {
    background-color: rgba(196,92,9, 0.9);
  }

  .landing-text-wrapper {
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 135px;
    border-radius: 10px;
  }

  .landing-text-container h1 {
    text-shadow: 3px 4px black;
  }

  .landing-button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 580px;
  }

  .landing-button svg {
    width: 85px;
    height: auto;
    fill: rgba(196,92,9, 0.9);
    cursor: pointer;
  }

  /*--------ABOUT PAGE---------*/

  #about-page .container {
    width: 80% !important;
  }

  #about-page img {
    height: 400px;
    width: auto;
    position: relative;
    margin-top: 120px;
    float: right;
  }

  #about-page .container .transparent-box {
    position: absolute;
    display: inline-block;
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    margin-top: 120px;
    z-index: 1;
  }

  #about-page .container .transparent-box h1 {

  }

  #about-page .container .transparent-box p {
    margin-left: 50px;
    padding-right: 50px;
    text-indent: 35px;
    font-size: 1.2em;
  }

  #special-text {
    font-size: 1.2em;
  }

  /*-------STAFF SHOWCASE------*/

  #staff-showcase {

  }

}
