body {
  margin: 0;
  padding: 0;
}

.header {
  display: inline;
  text-align: center;
  height: 816px;
  width: 100%;
}

#loop {
  opacity: 0.82;
  position: fixed;
  top: -35px;
}



#logo {
  margin-top: 220px;
  margin-left: 35%;
  position: absolute;
}

#logo svg {
  padding: 20px 15px 20px 15px;
  border: 6px solid #C45C09;
}

#market {
  float: clear;
}

#consult {
  float: clear;
}
